.section-offer {
    padding-top: 215px;
    padding-bottom: 100px;
    position: relative;
    overflow: hidden;

    .wrapper {
        margin-top: 260px;
        display: grid;
        grid-template-columns: 310px 860px 1fr;
        grid-column-gap: 20px;
    }

    .title {
        position: absolute;
        top: -33px;
        right: 0;
    }

    .bg-gradient {
        top: 0;
        left: 0;
        width: 100%;
    }
}

.bg-gradient {
    position: absolute;
    z-index: 2;
}

.offer-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.dinamics {
    position: absolute;
    right: -1168px;
    top: -1477px;
    z-index: 1;
    // animation: din-rotate 5s linear infinite;
}

// @keyframes din-rotate {
//     0% {
//         transform: rotate(0);
//     }

//     100% {
//         transform: rotate(360deg);
//     }
// }

.offer {
    &__title {
        font-family: $ffGiga;
        font-weight: 700;
        font-size: 53px;
        max-width: 685px;
        text-transform: uppercase;
        color: $turquoise;
        line-height: 120%;
        margin-bottom: 40px;
    }

    &__text {
        color: $white;
        font-weight: 300;
        margin-bottom: 50px;
        max-width: 300px;
    }

    &-egg {
        position: relative;

        &__icon {
            display: block;
            max-height: 26px;
            margin-left: 10px;
            margin-bottom: 20px;
            z-index: 5;
            position: relative;
        }

        &__text {
            color: $white;
            font-weight: 300;
        }

        &:not(:last-child) {
            margin-bottom: 30px;
        }

        &::before {
            content: '';
            display: block;
            height: 23px;
            width: 65px;
            position: absolute;
            top: -1px;
            left: 0px;
            background: url('../img/offer-icon-bg.svg');
            background-repeat: no-repeat;
            background-size: cover;
            z-index: 2;
        }
    }

    &-video {
        width: 100%;
        height: 485px;
        border-radius: 40px;
        overflow: hidden;
    }
}

.section-nomination {
    background: $blue;
    padding: 100px 0 75px;
    position: relative;
    overflow: hidden;

    .bg-gradient {
        width: 1185px;
        height: 660px;
        left: -250px;
        top: -245px;
    }

    .title-wrapper {
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin-bottom: 40px;
    }

}

@keyframes nom-circle {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.nom-date {
    &__text {
        text-align: right;
        font-family: $ffM;
        font-weight: 800;
        line-height: 130%;
        text-transform: uppercase;
        color: $white;
        opacity: .5;
        margin-bottom: 5px;
    }
    &__date {
        text-align: right;
        font-family: $ffGiga;
        font-size: 20px;
        line-height: 160%;
        text-transform: uppercase;
        color: $white;
    }
}

.noms {
    width: 100%;
    margin-bottom: 75px;
}

.nom-row {
    display: grid;
    width: 100%;
    grid-template-columns: 530px 310px 310px 1fr;
    grid-column-gap: 20px;

    &__title {
        position: relative;
    }

    &__num {
        position: absolute;
        top: -15px;
        left: 0;
    }

    &:not(:last-child) {
        padding-bottom: 35px;
        border-bottom: 1px solid rgba(255,255,255,.5);
    }

    &:not(:first-child) {
        padding-top: 45px;
    }

    &__nom {
        display: flex;
        align-items: center;
        color: $white;

        &:before {
            content: '';
            display: inline-block;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background: $turquoise;
            margin-right: 8px;
        }

        &:not(:last-child) {
            margin-bottom: 8px;
        }
    }

    &:nth-child(3) {
        .nom-row {
            &__nom {
                &::before {
                    background: $pink;
                }
            }
        }
    }

    &:nth-child(4) {
        .nom-row {
            &__nom {
                &::before {
                    background: $cold-blue;
                }
            }
        }
    }

    &--first {
        grid-template-columns: repeat(2, 1fr);

        .nom-row {
            &__title {
                grid-column: 1 / 3;
                margin-bottom: 20px;
            }
        }
    }
}

.b-nom {
    height: 300px;
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 40px;
    background: url(../img/nom-block.svg);
    background-size: cover;
    padding: 35px 30px;
    box-sizing: border-box;

    &__img {
        position: absolute;
        top: 0;
        right: 0;
    }

    &__title {
        margin: 0 0 20px;
        color: $white;
        font-family: $ffM;
        font-weight: 800;
        font-size: 16px;
        line-height: 130%;
        text-transform: uppercase;
    }
}

.important {
    position: relative;
    padding-left: 10px;

    &__title {
        font-family: $ffM;
        font-weight: 800;
        line-height: 130%;
        color: $white;
        opacity: .5;
        margin-bottom: 4px;
    }

    &__text {
        font-family: $ffM;
        color: $white;
    }

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: -5px;
        width: 5px;
        height: 100%;
        background: $white;
    }
}

.section-workprogramm {
    background: $sky;
    position: relative;
    overflow: hidden;
    padding: 100px 0;

    .bg-gradient {
        width: 1200px;
        top: 70px;
        left: -150px;
        z-index: 5;
    }

    .title {
        color: $black;
    }

    .wrapper {
        width: 100%;
        display: grid;
        grid-template-columns: 420px 1fr;
        grid-column-gap: 20px;
    }

    .container {
        z-index: 10;
    }
}

.workprog-offer {
    &__title {
        margin-bottom: 30px;
    }

    &__text {
        font-weight: 300;
        color: #000;
        max-width: 310px;
        margin-bottom: 30px;
    }
}

.workprog-slider-wrapper {
    width: 100%;
    position: relative;
    min-width: 0;
}

@import '../components/workprogramm-slider';

.section-guestprogramm {
    background: $white;
    padding: 120px 0;
    position: relative;
    overflow: hidden;

    .title {
        color: $black;
        max-width: 475px;
        position: absolute;
        top: 40px;
        z-index: 20;
    }

    .bg-gradient {
        left: -265px;
        top: -230px;
    }

    .wrapper {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 110px;
    }

    .slider-buttons {
        justify-self: right;

        &__btn {
            &:not(:last-child) {
                margin-bottom: 15px;
            }
        }
    }
}

.guestprogramm-slider-wrapper {
    min-width: 0;
}

@import '../components/guestprogramm-slider';