* {
    box-sizing: border-box;
}

#page {
    overflow: hidden;
}

body {
    background: $black;
    font-family: $ffM;
    line-height: 21px;
    font-weight: 300;
}

a {
    font-family: $ffM;
    text-decoration: none;
    color: $black;
}

p {
    margin: 0;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    padding: 0 22px;
    font-family: $ffGiga;
    font-weight: 400;
    color: $white;
    font-size: 14px;
    text-transform: uppercase;
    background: none;
    border: 1px solid $turquoise;
    border-radius: 60px;
    transition: .3s;

    &:hover {
        color: $black;
        background: $turquoise;
    }

    &--black {
        color: $black;
        border: 1px solid $black;

        &:hover {
            background: $black;
            color: $white;
        }
    }
}

h1 {
    margin-top: 0;
}

.title {
    font-family: $ffGiga;
    text-transform: uppercase;
    color: $white;
    font-size: 45px;
    line-height: 140%;
    font-weight: 700;
    margin: 0;

    &--nom {
        position: relative;
        &::before {
            content: '';
            display: block;
            width: 160px;
            height: 160px;
            position: absolute;
            right: -125px;
            background: url('../img/nom-circle.svg');
            background-repeat: no-repeat;
            z-index: -1;
            top: 0;
            bottom: 0;
            margin: auto 0;
            animation: nom-circle 15s linear infinite;
        }
    }
}

h3.title {
    font-size: 20px;
    line-height: 160%;
}

.container {
    width: 100%;
    margin: 0 auto;
    z-index: 10;
    position: relative;
}

@media screen and (min-width: $xs) {
    .container {
        max-width: 100%;
        padding: 0 15px;
    }
}

@media screen and (min-width: $sm) {
    .container {
        max-width: $sm - 36px;
    }
}

@media screen and (min-width: $md) {
    .container {
        max-width: $md - 48px;
    }
}

@media screen and (min-width: $lg) {
    .container {
        max-width: $lg - 32px;
    }
}

@media screen and (min-width: $xl) {
    .container {
        max-width: $xl - 60px;
    }
}

@media screen and (min-width: $xxl) {
    .container {
        max-width: $xxl - 100px;
    }
}

.arrow {
    width: 48px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $black;
    border-radius: 60px;
    background: none;
    transition: .3s;

    &:hover {
        background: $black;
        path {
            stroke: $white;
        }
    }
}

.slide-content {
    padding: 105px 20px 50px;
    background: rgba(196, 196, 196, .35);
    backdrop-filter: blur(42px);
    background-size: cover;
    border-radius: 40px;
    z-index: 10;
}

.slider-buttons {
    &__btn {
        font-family: $ffGiga;
        font-weight: 400;
        font-size: 10px;
        width: 50px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: none;
        text-transform: uppercase;
        color: $black;
        opacity: .7;  
        border: none;
        border-radius: 60px;
        transition: .3s;

        &:not(.active) {
            position: relative;

            &:after {
                display: block;
                position: absolute;
                content: '';
                width: 8px;
                height: 0px;
                border-bottom: 1px solid rgba(0,0,0,.7);
                right: 0;
            }
        }

        &.active {
            opacity: 1;
            border: 1px solid $black;

            &:hover {
                color: $white;
                background: $black;
            }
        }

        &:hover {
            opacity: 1;
        }
    }
}

.slider-animation {
    .slick-slide {
        transition: .3s;

        &:not(.slick-active) {
            opacity: 0;
            transform: scale(.7);
        }
    }
}