* {
    font-family: $ffM;
    line-height: 130%;
    font-weight: 300;
}

body {
    background: $black;
}

a {
    font-family: $ffM;
    text-decoration: none;
    color: $black;
}

p {
    margin: 0;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    padding: 0 22px;
    font-family: $ffGiga;
    font-weight: 400;
    color: $white;
    font-size: 14px;
    text-transform: uppercase;
    background: none;
    border: 1px solid $turquoise;
    border-radius: 60px;
    transition: .3s;

    &:hover {
        color: $black;
        background: $turquoise;
    }
}

.title {
    font-family: $ffGiga;
    text-transform: uppercase;
    color: $white;
    font-size: 45px;
    line-height: 140%;
    font-weight: 700;
    margin: 0;

    &--nom {
        position: relative;
        &::before {
            content: '';
            display: block;
            width: 160px;
            height: 160px;
            position: absolute;
            right: -125px;
            background: url('../img/nom-circle.svg');
            background-repeat: no-repeat;
            z-index: -1;
            top: 0;
            bottom: 0;
            margin: auto 0;
            animation: nom-circle 15s linear infinite;
        }
    }
}

h3.title {
    font-size: 20px;
    line-height: 160%;
}