$ffGiga: 'Grtsk Giga', sans-serif;
$ffM: 'Montserrat', sans-serif;

$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

$black: #111111;
$white: #ffffff;
$turquoise: #00F0FF;
$sky:#A6FAFF;
$blue: #5353D9;
$pink: #FFA4C5;
$cold-blue: #97BDFF;