.footer {
    padding: 60px 0;
    background: $black;

    .wrapper {
        width: 100%;
        display: grid;
        grid-template-columns: 330px 410px 1fr;
    }

    .logo {
        & > img {
            width: 180px;
        }
    }

    &-nav {
        width: 100%;
        padding-top: 12px;
        margin-bottom: 50px;

        &__link {
            color: $white;
            font-weight: 300;
            transition: .3s;
            display: block;

            &:hover {
                color: $turquoise;
            }
        }

        &__list {
            padding: 0;
            margin: 0;
            list-style: none;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-row-gap: 20px;
        }
    }

    &-contacts {
        justify-self: end;
        padding-top: 10px;

        &__link {
            color: $white;
            text-transform: uppercase;
            display: block;
            text-align: right;
            font-weight: 400;
            font-family: $ffGiga;
            transition: .3s;
            
            &:not(:last-child) {
                margin-bottom: 20px;
            }

            &:hover {
                color: $turquoise;
            }
        }
    }
}

.policy {
    grid-column: 2 / 3;
    color: $white;

    &__policy {
        color: $white;
        opacity: .5;
        transition: .3s;
        margin-bottom: 20px;
        display: block;

        &:hover {
            opacity: 1;
            color: $turquoise;
        }
    }

    &__rights {
        opacity: .5;
    }
}

.iskra {
    justify-self: end;
    display: flex;
    align-items: center;
    color: $white;
    font-weight: 300;
    transition: .3s;
    opacity: .5;

    &__text {
        max-width: 90px;
    }

    &__img {
        margin-left: 20px;
    }

    &:hover {
        opacity: 1;
        color: $turquoise;

        path {
            fill: $turquoise;
        }
    }
}

@media screen and (max-width: $xl - 1px) {
    .footer {
        .wrapper {
            grid-template-columns: 250px 410px 1fr;
        }
    }
}

@media screen and (max-width: $md - 1px) {
    .footer {
        .wrapper {
            grid-template-columns: 1fr;
        }

        .footer {
            &-contacts {
                border-bottom: 1px solid rgba(186, 207, 233,.2);
            }
        }

        &-contacts {
            justify-self: start;
            grid-row: 2 / 3;
            padding: 25px 0;
            width: 100%;

            &__link {
                text-align: left;
            }
        }

        &-nav {
            padding: 20px 0 25px;
            border-bottom: 1px solid rgba(186, 207, 233,.2);
            margin-bottom: 25px;
        }
    }

    .policy {
        grid-column: 1 / 2;

        &__policy {
            margin-bottom: 15px;
        }
    }

    .iskra {
        justify-self: start;
        margin-top: 20px;
    }
}

@media screen and (max-width: $sm - 1px) { 
    .footer {
        padding: 40px 0 50px;

        .logo {
            height: 110px;

            & > img {
                width: 150px;
            }
        }

        &-contacts {
            &__link {
                font-size: 15px;
                line-height: 24px;

                &:not(:last-child) {
                    margin-bottom: 10px;
                }
            }   
        }

        &-nav {
            &__list {
                display: block;

                li {
                    &:not(:last-child) {
                        margin-bottom: 20px;
                    }
                }
            }

            &__link {
                font-size: 15px;
                line-height: 19px;
            }
        }
    }

    .policy {
        &__policy {
            font-size: 15px;
            line-height: 19px;
        }

        &__rights {
            font-size: 15px;
            line-height: 19px;
            max-width: 240px;
        }
    }

    .iskra {
        margin-top: 40px;
    }

    .mobile-menu {
        &__contacts {
            padding: 0;
        }
    }

}