.guestprog-slide {

    &__img {
        max-width: 640px;
        border-radius: 40px;
        overflow: hidden;
        margin-left: auto;
        transition: 1.5s;
        clip-path: circle(0% at 0% 100%);

        & > img {
            display: block;
            height: 500px;
            width: 100%;
            object-fit: cover;
        }
    }

    &__num {
        display: none;
        font-family: $ffGiga;
        font-weight: 700;
        color: $white;
        position: absolute;
        left: 0;
        right: 0;
        top: -35px;
        text-align: center;
        font-size: 118px;
        line-height: 188px;
        z-index: -1;
    }

    &__content {
        width: 640px;
        padding: 50px 20px;
        position: relative;
        opacity: 0;
        transition: 1s;
        transition-delay: .3s;
    }

    &__title {
        font-family: $ffGiga;
        line-height: 160%;
        text-transform: uppercase;
        color: $black;
        font-weight: 400;
        max-width: 260px;
        margin-bottom: 30px;
        text-decoration: underline;
        text-decoration-color: $turquoise;
        text-decoration-thickness: 1px;
        text-underline-offset: 4px;
    }

    &__text {
        font-family: $ffM;
        color: $black;
        font-weight: 300;
    }
}

.guestprog-slider {
    margin-top: -270px;

    .slick-active {
        .guestprog-slide {
            &__content {
                opacity: 1;
            }
        }
    }
}

.img-slider {
    max-width: 640px;
    border-radius: 40px;
    overflow: hidden;
    margin-left: auto;

    .slick-active {
        .guestprog-slide {
            &__img {
                clip-path: circle(200% at 0% 100%);
            }
        }
    }
}