.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 400;
    transition: .3s;

    &__wrapper {
        width: 100%;
        height: 120px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__link {
        color: $white;
        font-weight: 300;
        transition: .3s;
        &:hover {
            color: $turquoise;
        }
    }

    &__list {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            &:not(:last-child) {
                margin-right: 65px;
            }
        }
    }

    &__logo {
        & > img {
            display: block;
            max-width: 110px;
        }
    }

    &--scroll {
        backdrop-filter: blur(42px);
        background: rgba(196, 196, 196, .1);
    }
}

.burger {
    display: none;
    height: 3px;
    width: 19px;
    border: none;
    position: relative;
    background: $turquoise;

    &::before {
        content: '';
        height: 3px;
        width: 100%;
        background: $turquoise;
        position: absolute;
        top: -6px;
        left: 0;
    }

    &::after {
        content: '';
        height: 3px;
        width: 50%;
        background: $turquoise;
        position: absolute;
        bottom: -6px;
        right: 0;
    }
}

@media screen and (max-width: $xl - 1px) { 
    .header {
        &__list {
            li {
                &:not(:last-child) {
                    margin-right: 45px;
                }
            }
        }
    }
}