.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 400;
    transition: .3s;

    &__wrapper {
        width: 100%;
        height: 120px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__link {
        color: $white;
        font-weight: 300;
        transition: .3s;
        &:not(:last-child) {
            margin-right: 65px;
        }
        &:hover {
            opacity: .7;
        }
    }

    &__logo {
        & > img {
            display: block;
            max-width: 110px;
        }
    }

    &--scroll {
        backdrop-filter: blur(42px);
        background: rgba(196, 196, 196, .1);
    }
}