@media screen and (max-width: $xxl - 1px) { 
    
    .nom {
        &-row {
            grid-template-columns: 1fr 620px;

            &__list {
                padding-right: 0;
            }

            &--first {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }

    .section-nomination {
        .info-wrapper {
            grid-template-columns: 480px 420px 1fr;
        }
    }

    .expert {
        height: auto;
    }

    .guestprog-slide {
        &__img {
            max-width: 540px;
            & > img {
                height: 420px;
            }
        }

        &__content {
            margin-top: -220px;
        }
    }
}