@media screen and (max-width: $lg - 1px) {

    .header {
        &__nav {
            display: none;
        }

        &__wrapper {
            height: 80px;
        }

        &__logo {
            width: 80px;

            & > img {
                width: 100%;
            }
        }
    }

    .burger {
        display: block;
    }

    .offer {
        &-wrapper {
            display: flex;
            flex-direction: column-reverse;
        }

        &-label {
            margin-bottom: 5px;
        }

        &-video {
            order: 2;
            margin-bottom: 40px;
        }

        &-eggs {
            order: 3;
            max-width: 500px;
        }
    }

    .section-about {
        .wrapper {
            display: flex;
            flex-direction: column;
        }

        .title {
            position: static;
            margin-bottom: 40px;
        }
    }

    .nom {
        &-date {
            display: none;
        }

        &-row {
            &:not(:first-child) {
                display: block;

                .nom-row {
                    &__title {
                        margin-bottom: 30px;
                    }
                }
            }
        }
    }

    .b-nom {
        &__img {
            display: none;
        }
    }

    .section-nomination {

        .info-wrapper {
            align-items: center;

            &__button {
                margin-top: 0;
                justify-self: end;
            }
        }
    }
    .important {
        grid-row: 2 / 3;
        margin-top: 40px;
    }

    .section-workprogramm {
        .button {
            &--md {
                margin: 50px auto 0;
            }
        }
    }

    .workprog {
        &-offer {
            margin-bottom: 60px;

            .button {
                display: none;
            }
        }

        &-slider-arrows {
            display: none;
        }

        &-slider-wrapper {
            .slick-dots {
                margin-top: 15px;
                justify-content: center;
            }
        }

        &-slide {
            border-radius: 40px;
            overflow: hidden;

            &__content {
                max-width: none;
                padding: 50px 20px;
                backdrop-filter: none;
                background: linear-gradient(243.34deg, rgba(83, 36, 216, .7) 5.44%, rgba(0,0,0,.7) 92.87%);
            }

            &__img {
                position: absolute;
                margin-top: 0;
                top: 0;
                width: 100%;
            }

            &__title {
                color: $white;
            }

            &__text {
                color: $white;
            }

            &__speaker {
                color: $white;
            }
        }
    }

    .section-guestprogramm {
        .title {
            position: static;
            margin-bottom: 30px;
        }

        .wrapper {
            display: block;
        }

        .slider-buttons {
            display: none;
        }
    }

    .button {
        &--md {
            display: flex;
        }
    }

    .guestprog {
        &-slide {
            &__img {
                max-width: none;
            }

            &__content {
                margin-top: 15px;
                width: initial;
            }
        }
    }

    .guestprogramm-slider-wrapper {
        .slick-dots {
            margin-top: 15px;
            justify-content: center;    
        }
    }

    .section-experts {
        .button {
            &--md {
                margin: 70px auto 0;
            }
        }
    }

    .experts__wrapper {
        display: none;

        &--mobile {
            display: block;
            margin-bottom: 40px;
        }
    }

    .experts {
        display: flex;
        overflow-x: scroll;
        // margin-left: -50vw;
        // margin-right: -50vw;
        // padding-left: 50vw;
        // padding-right: 50vw;
        width: initial;
    }

    .expert {
        min-width: 270px;
    }

    .partners {
        &__button {
            display: none;
        }

        &-list {
            flex-wrap: nowrap;
            // overflow-x: scroll;

            &:nth-child(2) {
                margin-bottom: 30px;
            }

            &__partner {
                margin-right: 35px;
            }

            .slick {
                &-list {
                    overflow: visible;
                }

                &-track {
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
}